:root{
	--sig : #FFCA36;
	--bg : 	#161728;
	--bg-sideBar : #23263D;
	--bg-topBar : #4552b4;
	--font-white : #DDDDDD;
	--font-black : #161728;
}

*{
	color : var(--font-white);
	box-sizing: border-box;
	margin : 0;
	padding : 0;

	transition-duration : 0.1s;
	animation-duration: 0.1s;
}

body{
	width : 100vw;
	height : 100vh;
	opacity: 1;
	border-radius: 30px;
    overflow: hidden;
}

button{
	border : none;
	box-shadow : none;
	background : none;
}

button:hover{
	cursor: pointer;
}

li{
	list-style: none;
}

section {
    border: 0.1px solid rgba(168, 173, 219, 0.1);
  }